.page1 {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #ffe6fb;
  background-image: url('../img/bg_loading.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  .page1-logo{
    position: absolute;
    top: 5%;
    left: 20px;
  }
  .page1-text1{
    position: absolute;
    top: 16%;
    left: 15%;
  }

  .page1-text2{
    position: absolute;
    top: 24%;
    left: 30%;
  }
  .page1-cherry1{
    position: absolute;
    top: 14%;
    right: 12%;
    animation: spin 2.5s linear infinite;
  }
  .page1-title{
    position: absolute;
    top:34%;
    left: 50%;
    margin-left: -106px;
  }
  .page1-cherry2{
    z-index: 100;
    position: absolute;
    top: 68%;
    left: 50%;
    margin-left: -34px;
  }
  .page1-spin{
    -webkit-animation: spin 2.5s linear infinite;
    animation: spin 2.5s linear infinite;
  }
  .page1-arrow{
    z-index: 100;
    position: absolute;
    top: 78%;
    left: 50%;
    margin-left: -51px;
    animation: flash 4.2s ease-in infinite;
  }
  .page1-label{
    position: absolute;
    top: 86%;
    left: 50%;
    margin-left:-62px;
  }
}

.page2{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 900px;
  overflow-x: hidden;
  background-color: #ffe6fb;
  background-image: url('../img/p2_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  .p2-tit{
    position: absolute;
    top: 2%;
    left: 50%;
    margin-left: -88px;
  }
  .p2-txt{
    padding: 5px;
    border: 2px solid #da4672;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 0.72rem;
    color: #00a0bb;
      .p{
        font-weight: bold;
      }
  }

  .p2-pic1{
    position: absolute;
    top: 9%;
    left: 30%;
    .p2-pic1-txt{
      position: relative;
      top: -88px;
      left: 70px;
      width: 140px;
    }
  }

  .p2-pic2{
    position: absolute;
    top: 22%;
    left: 46%;
    .p2-pic2-txt{
      position: relative;
      top: -104px;
      left: -145px;
      width: 144px;
    }
  }

  .p2-pic3{
    position: absolute;
    top: 34%;
    left: 30%;
    .p2-pic3-txt{
      position: relative;
      top: -88px;
      left: 70px;
      width: 140px;
    }
  }

  .p2-pic4{
    position: absolute;
    top: 44%;
    left: 52%;
    .p2-pic4-txt{
      position: relative;
      top: -104px;
      left: -166px;
      width: 170px;
    }
  }

  .p2-pic5{
    position: absolute;
    top: 60%;
    left: 30%;
    .p2-pic5-txt{
      position: relative;
      top: -108px;
      left: 70px;
      width: 140px;
    }
  }

  .p2-pic6{
    position: absolute;
    top: 70%;
    left: 52%;
    .p2-pic66{
      position: relative;
      top: -3px;
      left: 6px;
      animation: tada 1.8s ease infinite;
    }
    .p2-pic88{
      position: absolute;
      z-index: 10;
    }
  }

  .p2-pic7{
    position: absolute;
    top: 88%;
    left: 50%;
    margin-left: -12px;
    .p2-pic7-txt{
      position: absolute;
      padding: 8px;
      width: 276px;
      height: 76px;
      margin-left: -134px;
      top: -72px;
    }
    .invit-btn{
      width: 88px;
      height: 26px;
      line-height: 26px;
      text-align: center;
      margin: 0 auto;
      background-color: #ea7998;
      border-radius: 20px;
      color: #ffffff;
      font-size: 0.6rem;
    }
  }
}

.c-cherry {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 700;
}

          
.p3{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 99;
}